<%= render 'pages/home' unless user_signed_in? %>
<div id="sheets" class="transitions-enabled">
  <% @sheets.each do |sheet| %>
    <div class="box panel panel-default">
      <%= link_to image_tag(sheet.image.url(:medium)), sheet_path(sheet) %>
      <div class="panel-body">
        <div class="sheet-description">
          <%= sheet.description %>
        </div>
        <div class="sheet-owner">
          <strong><%= sheet.user.profile_name if sheet.user %></strong>
        </div>
        <% if sheet.user == current_user %>
          <div class="actions">
            <%= link_to edit_sheet_path(sheet) do %>
              <span class="glyphicon glyphicon-edit"></span>
               Edit
            <% end %>
            <%= link_to sheet, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
               Delete
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="center">
   <%= will_paginate @sheets, renderer: BootstrapPagination::Rails %>
</div>
