
<div id="sheets" class="transitions-enabled">
  <% @sheets.each do |sheet| %>
    <div class="box panel panel-default">
      <%= image_tag sheet.image.url(:medium) %>
      <div class="panel-body">
        <%= sheet.description %>
        <%= sheet.user.email if sheet.user %>
        <%= link_to 'Show', sheet_path(sheet) %>
        <% if sheet.user == current_user %>
          <%= link_to 'Edit', edit_sheet_path(sheet) %>
          <%= link_to 'Destroy', sheet, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
