<div>
    <%= link_to 'Back', sheets_path %>
</div>
<div id="sheet">
    <div class="box show-view panel panel-default">
        <%= image_tag(@sheet.image.url(:large),class: "sheet-img img-responsive" ) %>
        <div class="panel-body sheet-body">
            <div class="sheet-description">
              <%= @sheet.description %>
            </div>
        </div>
        <div class="panel-footer">
            <div class="sheet-owner">

                <div class="pull-left">
                    <%= holder_tag "110x60" %>
                    <strong><%= @sheet.user.profile_name if @sheet.user %></strong>
                </div>
                <div class="pull-right">
                  <%= link_to sheet_path(@sheet), class: "btn btn-primary btn-lg" do %>
                    <span class="glyphicon glyphicon-usd"></span> 0.99  Buy
                  <% end %>
                </div>
                <div class="clearfix"></div>
            </div>
            <% if @sheet.user == current_user %>
              <div class="sheet-owner-actions">
                <%= link_to edit_sheet_path(@sheet) do %>
                  <span class="glyphicon glyphicon-edit"></span>
                   Edit
                <% end %>
                <%= link_to @sheet, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                   Delete
                <% end %>
              </div>
            <% end %>
        </div>
    </div>
</div>

